mat-card-title {
	font-size: 2em !important;
	padding-top: 10px;
}


.px-ttc {
  padding-left: 10px;
  display: block;
  width: 80px;
  font-weight: 700;
  border-left: 1px dotted #ccc;
}

.statut {
	clear: both;
	background-color: #000;
	color: #FFF;
	font-size: 1em;
	padding: 3px 10px;
	text-transform: uppercase;
	width: 60px;
	display: inline-block;
	text-align: center;
	margin-right: 10px;
}


waiting-cart {
	background-color: red
}
ongoing-cart {
	background-color: green
}
fillcart-cart {
	background-color: orange 
}
billing-cart {
	background-color: yellow
}
paid-cart {
	background-color: black
}