<!-- <button mat-icon-button [matMenuTriggerFor]="appMenu"> -->
<button mat-fab class="main-menu-trigger-button"
  *ngIf="auth.currentUser" color="warn"
  [matMenuTriggerFor]="appMenu">
  <mat-icon>menu</mat-icon>
</button>


<mat-menu #appMenu="matMenu" yPosition="below" xPosition="before">

  <mat-nav-list class="main-menu">

    <mat-list-item routerLink="./calendar">
        <mat-icon> today </mat-icon>
        <span>Calendar</span>
    </mat-list-item>

    <mat-list-item routerLink="./clientsearch">
        <mat-icon> face </mat-icon>
        <span>Clients</span>
    </mat-list-item>

    <mat-list-item routerLink="./members">
        <mat-icon>people</mat-icon>
        <span>Members</span>
    </mat-list-item>
        
    <mat-list-item routerLink="./prestations">
        <mat-icon>content_cut</mat-icon>
        <span>Prestations</span>
    </mat-list-item>

    <mat-list-item routerLink="./forfaits">
        <mat-icon>content_cut</mat-icon>
        <span>Forfaits</span>
    </mat-list-item>    

    <mat-list-item routerLink="./carts">
        <mat-icon>shopping_cart</mat-icon>
        <span>Shopping Cart</span>
    </mat-list-item> 

    <mat-list-item routerLink="./facturations">
        <mat-icon>payment</mat-icon>
        <span>Facturation</span>
    </mat-list-item>    

    <mat-list-item disabled class="close">
        <mat-icon> chrome_reader_mode </mat-icon>
        <span>Report</span>
    </mat-list-item>
   
    <mat-divider></mat-divider>

    <mat-list-item (click)="gotoUserProfile()">
      <mat-icon>person</mat-icon>
      <span>{{ auth.currentUserDisplayName }}</span>
    </mat-list-item>

    <mat-list-item (click)="logout()" color="accent">
      <mat-icon>power_settings_new</mat-icon>
      <span> Sign out</span>      
    </mat-list-item>

  </mat-nav-list>
  
</mat-menu>



  <!-- <h1>David Lucas App</h1> -->

  <!-- This fills the remaining space of the current row -->
  <!-- <span class="example-fill-remaining-space"></span> -->


<!--   <mat-form-field class="day-cal">
    <input matInput [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>  -->

  <!-- 
  <mat-chip-list>  
    <mat-chip>
      <mat-icon>access_time</mat-icon>
      <span> Today</span>
    </mat-chip>        
    <mat-chip>
      <mat-icon>keyboard_arrow_left</mat-icon>
      <span></span>
    </mat-chip>
    <mat-chip>
      <mat-icon>today</mat-icon>
      <span> {{today | date}}</span>
    </mat-chip>
    <mat-chip>
      <mat-icon>keyboard_arrow_right</mat-icon>
    </mat-chip>  

    <mat-chip 
      (click)="gotoUserProfile()">
      <mat-icon>person</mat-icon>
      <span>{{ auth.currentUserDisplayName }}</span>
    </mat-chip>
    <mat-chip class="hoverpointer" color="accent" selected="true"
      (click)="logout()">
        <mat-icon>power_settings_new</mat-icon>
        <span> Sign out</span>
    </mat-chip>
  </mat-chip-list>
  -->
 

<!-- </mat-toolbar> -->