<!-- <pre>{{ meeting | async | json }}</pre> -->
<!-- <pre>{{ cart | async | json }}</pre> -->

<ng-template #loading>								
	<br><br>
	<mat-spinner color="warn"></mat-spinner>
	<br><br>
</ng-template>

<div *ngIf="cart | async; let cart; else loading" 
	fxLayout="row"
	fxLayout.xs="column"
	fxLayoutAlign="center center"
	fxFlexFill
	fxLayoutWrap>

	<!-- <p>{{ cart.$key }}</p> -->

	<div 
		fxFlex="70"
		[ngStyle]="{'font-size': '1.2em'}"
	>
		Rendez-vous de
		<strong>{{ cart.clientfullname }}</strong> 
		<mat-icon class="cur-point" *ngIf="!showclientdetail&&cart.clientPhone" (click)="showclientdetail=true">add_circle</mat-icon>
	</div>
	<div 
		fxFlex="30"
		[ngStyle]="{'font-size': '1em'}"
		class="bg-black br3"
	>
		<strong>{{ cart.date }}</strong> à <strong>{{ cart.cartstarttime }}</strong>
	</div>


	<div *ngIf="showclientdetail" class="client-detail"
	fxFlex="100">
		<a *ngIf="cart.clientphone" href="tel:{{cart.clientphone}}">{{ cart.clientphone }} </a>
		<a *ngIf="cart.clientemail" href="mailto:{{cart.clientemail}}">{{cart.clientemail}}</a>
		<mat-icon class="cur-point" (click)="onNoClick()" [routerLink]="['./../client', cart.clientKey]">remove_red_eye</mat-icon>
	</div>

	<br><br>


	<div class="event-program"
	fxLayoutWrap
	fxFlex="100"
	[ngStyle]="
			{
				'margin-top': '5px',
				'padding-top': '5px',
				'border-top': '1px dotted #eee'
			}"
	*ngFor="let element of cart.prestas ;let i = index ">

		<div
		fxFlex="60"
		fxLayoutAlign="start center">
			<span class="buble-16 mr-10">{{ (i+1) }}</span>
			<strong>{{ element.starttime }} &nbsp;&nbsp;</strong>
			<span
			[ngStyle]="{'font-size': '0.8em'}">{{ element.prestationtitle }}</span>
		</div>

		<div
		fxFlex="10"
		fxLayoutAlign="start end" class="small">
			<strong>{{ element.timelength }} </strong>&nbsp; min
		</div>

		<div
		fxFlex="15"
		fxLayoutAlign="end start">
			<span class="member-name">{{ element.membername }}</span>
		</div>

		<div 
		fxFlex="5"
		fxLayoutAlign="start start">&nbsp;
		<!-- <mat-icon (click)="changeCoiffeur(element)">cached</mat-icon> -->
		<mat-select 	
		  [(ngModel)]="member"
		  (ngModelChange)="changeCoiffeur(element,member,cart,'prestation')">
				<mat-option *ngFor="let member of members | async" [value]="member">
				  {{ member.firstname }}
				</mat-option>
			  </mat-select>
		</div>

		<div
		fxFlex="5"
		fxLayoutAlign="end center">
			<span class="qty">{{ element.quantity }}</span>
		</div>
		
		<div
		fxFlex="5"
		fxLayoutAlign="start center">
			<mat-icon (click)="removePrestaFromCart(element,cart)" class="cursor-pointer">clear</mat-icon>
		</div>


		<!-- 		
		<div
		fxFlex="10"
		fxLayoutAlign="start end">
			<mat-icon (click)="removePrestaFromCart(element,cart)">clear</mat-icon>
		</div> 
		-->

	</div>		


	<div 
		fxFlex="100"
		[ngStyle]="
				{
					'font-size': '0.7em',
					'color':'#CCC',
					'font-weight':'300',
					'margin-top': '10px',
					'padding-top': '10px',
					'letter-spacing': '2px',
					'border-top': '1px dotted #ccc'
				}"
		fxLayoutAlign="end end">
		<div fxFlex="10"></div>
		<div fxFlex="30" fxFlexAlign="end">TOTAL HT : {{ cart.totalHT }} €</div>
		<div fxFlex="30" fxFlexAlign="end">TAX 20% : {{ cart.totalTAX }} € </div>		
		<div fxFlex="30" fxFlexAlign="end">TOTAL TTC : 	{{ cart.totalTTC }} €</div>		
	</div>


	<div fxFlex="100"
		[ngStyle]="{'padding-top': '20px'}">

		<button mat-fab type="button" tabindex="-1" color="black"
			(click)="onNoClick()">
			<mat-icon>close</mat-icon>
	  </button>

		<button mat-fab type="button" tabindex="-1" color="warn"
			*ngIf="cart.statut=='waiting'"
			(click)="deleteCart(cart,cart.prestas)">
			<mat-icon>delete</mat-icon>
	  </button>

		<button mat-fab type="button" tabindex="2" color="green"
			*ngIf="cart.statut=='waiting'"
			(click)="doingCart(cart,'ongoing')">
			<mat-icon>check</mat-icon>
	  </button>

		<button mat-fab type="button" tabindex="2" color="warn"
			*ngIf="cart.statut=='ongoing'"
			(click)="doingCart(cart,'done')">
			<mat-icon>payment</mat-icon>
	  </button>

	 </div>
	 
</div>