mat-icon:focus, mat-icon:active {
	outline: none;
}

h1 {
	font-size: 1.1em !important;
	color: #000;
	font-weight: bold;
	margin-bottom: 0;
}
h2 {
	font-size: 1.2em !important;
	color: #666666;
	font-weight: normal;
	margin: 5px 0 10px;
}
h3 {
	font-size: 1em !important;
	color: #333;
	font-weight: bold;
	background-color: #000;
	color: #FFF;
	padding: 5px 10px;
	margin: 0;	
}

button {
	margin-right: 15px;
}

.cursor-pointer {
	cursor:pointer;
	color: #ccc;
}
.cursor-pointer:hover {
	cursor:pointer;
	color: #000;
}

.member-name {
	background-color: #000;
	color: #eee;
	padding: 0px 15px;
	font-weight: 500;
	font-size: 0.9em;
}

.qty {
	background-color: #000;
	color: #eee;
	padding: 0px 5px;
	font-weight: 500;
	font-size: 0.9em;	
}

.intro-see-dialog div {
	font-weight: 700;
	text-transform: uppercase;
	background-color: #eee;
	color: #333;
	text-align: center;
	padding: 40px 0;
	border: 1px solid #FFF;
}
.intro-see-dialog div:hover {
	background-color: #666;
	color: #FFF;
}

.fl-right {
	float: right;
	text-align: right;
}

.datatime {
	font-size: 0.8em;
	background-color: #000;
	color: #fff;
	padding: 0 10px;

}

.al {
	float: right;
}

.cur-point {
	cursor: pointer;
}

.smalldate {
	font-size: 0.7em;
	font-weight: 200;
	color: #666;
}

.client-detail {
	font-size: 0.6em;
	font-weight: normal;
	margin-bottom: 20px;	
}

.ongoingclass {
	background-color: green;
	color: #FFF;
	padding: 0 10px;
}

.client-detail a {
	color: #fff;
	background-color: #666;
	padding: 5px 10px;
	margin-right: 5px;
	margin-bottom: 20px;
	text-decoration: none;
	font-size: 1.2em;
}
.client-detail a:hover {
	background-color: #000;
}

.mt30 {
	margin-top: 30px;
}

mat-spinner {
	margin: 0 auto;
}

.display-block {
	display: block;
}

.cursor-pointer {
	cursor: pointer;
}

.bg-black {
	background-color: #000;
	padding: 5px;
	color: #fff;
	text-align: center;
}



.small {
	font-size: 0.8em;
}


.member-name, .qty, .br3 {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}


