mat-card-title {
	font-size: 1.2em !important;
	line-height: 0.5em;
	font-weight: 300;
}



.calendar-card {
	box-shadow: none !important;
	padding: 0;
}


tr:nth-child(even) {
	background-color: #aaa !important;
	color: #fff !important;
}


.cal-cell {
	/*background-color: #eee;*/
	cursor: pointer;
	text-align: center;
	padding-left: 10px;
	padding-bottom: 8px;
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
}

.cal-cell:hover {
	/*background-color: black;*/
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 20%, #dddddd 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 20%,#dddddd 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #ffffff 0%,#f6f6f6 20%,#dddddd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */	
}

.cal-cell-name {
	min-width: 100px;
	text-align: center;
	color: #eee;
	cursor: pointer;
background: #4c4c4c; /* Old browsers */
background: -moz-linear-gradient(-45deg, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
transition: all 0.1s ease;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
text-transform: uppercase;
font-size: 0.8em;
}
.cal-cell-name:hover {
	min-width: 100px;
	text-align: center;

	font-size: 0.9em;
	color: #FFF;
	cursor: pointer;	
}

.cal-cell-hour {
	text-align: center;
	font-size: 0.7em;
	padding: 2px 5px 0;
	font-weight: bold;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	background: #eeeeee; /* Old browsers */
	background: -moz-linear-gradient(left, #eeeeee 0%, #cccccc 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #eeeeee 0%,#cccccc 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #eeeeee 0%,#cccccc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=1 ); /* IE6-9 */	
}

.rdv {
	margin:0; padding:0;
}
.rdv span{
	margin:0 0 0 2px; padding:2px 5px 0;
	font-size: 9px;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	display: block;
	/*	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;	*/
	/*height: 16px; width: 16px;*/
	line-height: 13px;
	float: left;
	color: #999999;
}

.round-top-event {
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;	
}
.round-bottom-event {
	-webkit-border-bottom-right-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-moz-border-radius-bottomright: 8px;
	-moz-border-radius-bottomleft: 8px;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
}

.waiting-event {
	color: white !important;	background-color: red !important;	
}
.ongoing-event {
	color: white !important;	background-color: green !important;	
}
.paid-event {
	color: white !important;	background-color: #eee !important;		
}


.rdv span:hover{
	background-color: black !important;
	color: white;
}

.nopad-nocell {
	padding: 0 !important;
	margin: 0 !important;
}

.bg-black {
	background-color: #000;
}

.td-date {
	/*background-color: #000;*/
	color: #FFF;
	text-align: center;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	border-top-right-radius: 10px;
	background: #000000; /* Old browsers */
	background: -moz-linear-gradient(top, #000000 0%, #45484d 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #000000 0%,#45484d 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #000000 0%,#45484d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#45484d',GradientType=0 ); /* IE6-9 */	
}


.td-bottom {
	color: #FFF;
	text-align: center;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	border-bottom-right-radius: 10px;
	background: #000000; /* Old browsers */
	background: -moz-linear-gradient(top, #000000 0%, #45484d 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #000000 0%,#45484d 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #000000 0%,#45484d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#45484d',GradientType=0 ); /* IE6-9 */		
}




.cal-cell-people {
	text-align: center;
	cursor:pointer;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-left-radius: 10px;	
}
.cal-cell-today {
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	border-top-left-radius: 10px;
	color: #FFF;
	text-align: center;
	cursor:pointer;
	padding-top: 6px;	
}
.cal-cell-list {
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-left-radius: 10px;
	color: #FFF;
	text-align: center;
	cursor:pointer;
	padding-top: 6px;	
}
.showdate {
	display: inline-block;
  margin-top: 5px;
  vertical-align: top;
  font-size: 1.2em;
}

.td-date mat-icon {
	margin-top: 5px;
	color: #ccc;
	cursor: pointer;
}
.td-date mat-icon:hover {
	color: #FFF;
}

.spinner-td {
	text-align: center;
	margin-top: 50px;
}

mat-spinner {
	margin: 0 auto;
}

