h1 {
	font-size: 1.1em !important;
	color: #000;
	font-weight: bold;
	margin-bottom: 0;
}
h2 {
	font-size: 1.1em !important;
	color: #666666;
	font-weight: normal;
	margin: 5px 0 10px;
}
h3 {
	font-size: 0.7em !important;
	color: #333;
	font-weight: bold;
	background-color: #000;
	color: #FFF;
	padding: 0 10px;
	margin: 0;	
}

button {
	margin-right: 15px;
}

.datatime {
	font-size: 0.8em;
	background-color: #000;
	color: #fff;
	padding: 0 10px;

}


.presta-forfait {
	margin-bottom: 10px;
}
.presta-forfait mat-grid-tile {
  /*background: lightgrey;*/
  border: 1px dotted #ccc;
  color: #ccc;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 0.8em;
  text-align: center;
} 
.presta-forfait mat-grid-tile:hover {
	border: 1px solid #333;
	background-color: #000;
}
