<!-- {{ suitemeeting | async | json }} -->
<!-- <pre>{{ meeting | async | json }}</pre> -->

<!-- <div *ngIf="dev"> -->
<div *ngIf="meeting | async as meeting">
	<div mat-dialog-title class="display-block">
		<h1>
			RDV de {{ meeting.memberFirstname }}
			<span class="al smalldate"
				[ngClass]="{'ongoingclass':meeting.statut=='ongoing'}"
				*ngIf="showSavedDate">
				{{ meeting.timestamp | date }} - {{ meeting.time }}
				<mat-icon (click)="showDatePicker=true;showSavedDate=false" class="cursor-pointer">
					clear
				</mat-icon>
			</span>
		</h1>


		<!-- 		
		<mat-form-field *ngIf="showDatePicker" class="fl-right">
		  <input matInput [matDatepicker]="myDatepicker">
		  <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
		  <mat-datepicker #myDatepicker></mat-datepicker>
		</mat-form-field> 
		-->

	</div>

	<div mat-dialog-content>
		<h2>
			avec {{ meeting.clientFirstname }} {{ meeting.clientLastname }}
			<mat-icon class="cur-point" *ngIf="!showclientdetail" (click)="showclientdetail=true">add_circle</mat-icon>
		</h2>

		<div *ngIf="showclientdetail" class="client-detail">
			<a *ngIf="meeting.clientPhone" href="tel:{{meeting.clientPhone}}">{{ meeting.clientPhone }} </a>
			<a *ngIf="meeting.clientEmail" href="mailto:{{meeting.clientEmail}}">{{meeting.clientEmail}}</a>
			<mat-icon class="cur-point" (click)="onNoClick()" [routerLink]="['./../client', meeting.clientKey]">remove_red_eye</mat-icon>
		</div>
		<h3>{{ meeting.prestationTitle }} 
			<span class="al">{{ meeting.prestationPriceTeam }},00 €</span>
		</h3>
	</div>

	<div mat-dialog-actions class="mt30">
 
		<button mat-fab type="button" tabindex="-1" color="black"
			(click)="onNoClick()">
			<mat-icon>close</mat-icon>
	  </button>

		<button mat-fab type="button" tabindex="-1" color="black"
			*ngIf="meeting.statut=='waiting'"
			(click)="deleteEvent(meeting)">
			<mat-icon>delete</mat-icon>
	  </button>

		<button mat-fab type="button" tabindex="2" color="green"
			*ngIf="meeting.statut=='waiting'"
			(click)="doingEvent(meeting,'ongoing')">
			<mat-icon>check</mat-icon>
	  </button>

		<button mat-fab type="button" tabindex="2" color="warn"
			*ngIf="meeting.statut=='ongoing'"
			(click)="doingEvent(meeting,'done')">
			<mat-icon>payment</mat-icon>
	  </button>
		 
	</div>
	<br>
</div>