<ng-template #loading>								
	<br><br>
	<mat-spinner color="warn"></mat-spinner>
	<br><br>
</ng-template>


<!-- <div *ngIf="dev"> -->
<div *ngIf="filteredClients | async; let clients; else loading">
	<div mat-dialog-title>

	<!-- {{data.selectedCoiffeur.$key}} -->

		<h1 *ngIf="data.selectedCoiffeur" mat-dialog-title>Rendez-vous pour {{data.selectedCoiffeur.firstname}} <br>
			<span class="datatime">
				<span>le {{ data.date | date:'d MMM' }}. à {{data.time}}</span>
			</span>
		</h1>

		<h1 *ngIf="data.memberfromtable" mat-dialog-title>Rendez-vous pour {{data.memberfromtable.firstname}}</h1>

		<h2 *ngIf="selectedClient">avec {{ selectedClient.firstname}} {{ selectedClient.lastname}}</h2>

		<h3 *ngIf="data.prestation">{{ data.prestation.title }} - {{ data.prestation.time }} min</h3>

		<h3 *ngIf="data.forfait">{{ data.forfait.title }} - {{ data.forfait.time }} min</h3>

	</div>


	<div mat-dialog-content>

		<mat-form-field
		*ngIf="!selectedClient">
		  <input 
		  		matInput 
		  		placeholder="Chercher une Client" aria-label="Client"
		  		[matAutocomplete]="auto" 
		  		[formControl]="clientCtrl">
		  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
		    <mat-option *ngFor="let client of clients" 
		    	[value]="client">
		      <span>{{ client.firstname }} {{ client.lastname }}</span>
		    </mat-option>
		  </mat-autocomplete>
		  <mat-icon matSuffix>search</mat-icon>
		</mat-form-field>

		<button mat-mini-fab *ngIf="!selectedClient" 
			routerLink="./../clientform" (click)="onNoClick()" color="black">
				<mat-icon>add</mat-icon>
		</button>


		<mat-grid-list *ngIf="selectPrestaOrForfait" class="presta-forfait" cols="2" rowHeight="40px">
		  <mat-grid-tile (click)="selectPrestaOrForfait=false;showPrestaSelect=true">Prestation</mat-grid-tile>
		  <mat-grid-tile (click)="selectPrestaOrForfait=false;showForfaitsSelect=true">Forfait</mat-grid-tile>
		</mat-grid-list>

		<mat-select
			*ngIf="!data.prestation&&showPrestaSelect"
			[(ngModel)]="data.prestation"
			placeholder="Selectionner une prestations">
				<mat-option *ngFor="let presta of prestations | async" [value]="presta">
					<strong>{{presta.title}}</strong> {{presta.details}}
				</mat-option>		
		</mat-select>

		<mat-select
			*ngIf="!data.forfait&&showForfaitsSelect"
			[(ngModel)]="data.forfait"
			placeholder="Selectionner un Forfait">
				<mat-option *ngFor="let forfait of forfaits | async" [value]="forfait">
					<strong>{{forfait.time}} min</strong> : {{forfait.title}}
				</mat-option>		
		</mat-select>	

	</div>

	<div mat-dialog-actions>

		<button mat-fab (click)="onNoClick()" type="button" tabindex="-1" color="black">
			<mat-icon>close</mat-icon>
	  </button>

		<button mat-fab 
			[disabled]="!data.prestation||!data.selectedCoiffeur||!selectedClient"
			(click)="saveEvent(data,selectedClient)"
			type="button" tabindex="2" color="warn">
			<mat-icon>check</mat-icon>
	  </button>

	</div>
	<br>
</div>
