mat-radio-button {
	margin-right: 10px;
	color: #999
}
button {
	margin-right: 15px;
  margin-left: 10px !important;
}
a, a:focus, a:active {
   outline: 0;
}

mat-card-title {
	font-size: 2em !important;
	line-height: 0.5em;
	font-weight: 300;
}

mat-spinner {
	margin: 0 auto;
}

.date-move {
	line-height: 1em;
}

.mb-20px {
	margin-bottom: 40px;
}


.date-move {
	background-color: #000;
	color: #eee;
	width: 250px;
}
.showdate {
	display: inline-block;
  margin-top: 5px;
  vertical-align: top;
  font-size: 1.2em;
}


.facture-title {
	font-size: 1.2em;
	line-height: 0.8em;
}

.coiffeur-menu {
	padding: 0;
	margin: 20px 0 0 !important;
}


.presta-membres {
	margin: 0; padding: 0;
	margin-bottom: 10px;	
}
.presta-membres li {
	text-transform: uppercase;
	font-size: 0.8em;
	margin-left: 1px; padding: 0 10px;
	background-color: #999999; color: #FFF;
}

.coiffeur-menu li {
  margin-right: 1px;
  padding: 2px 10px;
  display: inline-block;
  text-transform: uppercase;
  background-color: #4C4C4C;
  color: #eee;
  cursor: pointer;
}
.coiffeur-menu li:hover {
	background-color: #000;
	color: #FFF;
}

.presta-membres li {
	list-style-type: none;
	display: inline;
}


.mat-list-item {
	border-bottom: 1px dashed #fff;	
}
.mat-list-item:hover {
	/*background-color: #ddd;*/
	border-bottom: 1px dashed #ccc;	
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #eeeeee 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ffffff 0%,#eeeeee 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ffffff 0%,#eeeeee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
}

.facture-waiting {
	color: #000 !important;
}
.facture-done {
	color: #ccc !important;
}



.client, .montant {
	display: inline-block;
	border-left: 1px dotted #ccc;
}
.info-bill {
	width: 300px;
}
.client {
	padding-left: 10px;
	width: 250px;
}
.montant {
	padding-left: 10px;
	width: 260px;
}
.total-amount {
	background-color: #000;
	color: #FFF;
	padding: 5px 10px;
	font-size: 1.3em
}

