<ng-template #loading>				
	<br><br>
	<mat-spinner color="warn"></mat-spinner>
	<br><br>
</ng-template>

<!-- {{ calendarDate }} <br> {{ dateForQuery }} <br><br> -->

<!-- <mat-form-field>
  <input matInput placeholder="Select Date"
  [matDatepicker]="picker"
  [(ngModel)]="dateSelected"
  (ngModelChange)="updateDate(dateSelected)">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>  -->


<!-- <div *ngIf="bills$ | async; let bills; else loading"> -->
  <!-- <ul> -->
    <!-- <li *ngFor="let bill of bills"> -->
      <!-- {{ bill.date }} -->
      <!-- <code>{{ event.payload.key }}</code> -  -->
      <!-- {{ bill.clientfullname }} - -->
      <!-- {{bill.totalTTC}} € -->
      <!-- {{bill.payload.val().time}} -->
      <!-- <pre> {{ bill | json }} </pre> -->
    <!-- </li> -->
  <!-- </ul> -->
  <!-- <div *ngIf="bills.length === 0">No results, try clearing filters</div> -->
<!-- </div> -->


      
   


<!-- <mat-card *ngIf="dev"> -->
<mat-card class="br-20" 
*ngIf="bills | async; let bills; else loading" >
  <mat-card-header>
    <div mat-card-avatar class="example-header-image">
      <mat-icon matListIcon>receipt</mat-icon>
    </div>      
    <mat-card-title>Factures</mat-card-title>
    <mat-card-subtitle>
      Liste des Factures du Salon <br>
      {{ dateSelected }}
   </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content *ngIf="bills$ | async; let bills; else loading">

    <div class="date-move br3">
      <mat-icon (click)="changeDay(calendarDate,'-7')">fast_rewind</mat-icon>
      <mat-icon (click)="changeDay(calendarDate,'-1')">keyboard_arrow_left</mat-icon>
      <span class="showdate"> {{calendarDate | date:'EEEE d MMM'}}</span>
      <mat-icon (click)="changeDay(calendarDate,'1')">keyboard_arrow_right</mat-icon>
      <mat-icon (click)="changeDay(calendarDate,'7')">fast_forward</mat-icon>
    </div>

    <ul class="coiffeur-menu">
      <li class="br3">ALL</li>
      <li *ngFor="let member of members | async" (click)=getName(member.name) class="br3">{{ member.name }}</li>
      <li class="menu-divider">&amp;</li>
      <li>Carte Bancaire</li>
      <li>Carte Cadeau</li>      
      <li>Chèque</li>
      <li>Espèces</li>
    </ul>

  	<br>

    <div *ngFor="let bill of bills">
      <!-- <h4 mat-line [ngClass]="facture.status==2 ? 'facture-done' : 'facture-waiting'"> -->
    	<span class="facture-title">
    		<span class="info-bill">
          <strong>Fac. n° XXXXXXX</strong> du 
          <strong>{{ bill.date }}</strong>
        </span>
    		<span class="client"> 
          <strong>{{ bill.clientfullname }}</strong>
        </span> 
        <span class="client"> 
          Réglement :
          <strong>{{ bill.moyendepaiement }}</strong>
        </span>                 
        <span class="montant">
          Montant :
          <strong>{{ bill.totalTTC }} </strong> €
          {{ addToTotal(bill.$key, bill.totalTTC) }}
        </span>
        <span class="promo" *ngIf="bill.promo">-{{ (bill.promo*100) }} %</span>                
    	</span>

      <ul class="presta-membres">
        <li class="br3 bgc-dg">{{ bill.timestamp | date:'h:mma' }}</li>
        <li *ngFor="let presta of bill.arrprestas" class="br3">
          {{ presta.membername }} : 
          <strong>{{ presta.price }} €</strong>
        </li>
      </ul>
    </div>
        
      <!-- 
      <span *ngIf="facture.timestamp" class="facture-date">{{ cart.timestamp | date}} | Réglement: <strong>{{ facture.moyendepaiement }}</strong> | Statut : <strong>{{ facture.statut }}</strong></span> 
      -->
      <!-- 
      <!-- 
      facture WAITING 
			<button mat-icon-button color="warn"
				*ngIf="facture.statut==0"
				(click)="changeFactureStatut(facture)">
	        <mat-icon>hourglass_empty</mat-icon>
	    </button>
      <!-- 
      facture ON GOING 
			<button mat-icon-button
				*ngIf="facture.statut==1"
				(click)="changeFactureStatut(facture)">
	        <mat-icon>hourglass_full</mat-icon>
	    </button>
      <!-- 
      facture DONE 		    
			<button mat-icon-button
				*ngIf="facture.statut==11">
	        <mat-icon>done</mat-icon>
	    </button>		     
			<button mat-icon-button
					(click)="deleteFacture(facture)">
	        <mat-icon>remove_circle</mat-icon>
	    </button> 
      -->

      <div class="total-amount br3">
          MONTANT TOTAL : 
          <strong>{{ totalCart }} €</strong>
      </div>


  </mat-card-content>
</mat-card>