<ng-template #loading>				
	<br><br>
	<mat-spinner color="warn"></mat-spinner>
	<br><br>
</ng-template>

<mat-card class="br-20" 
*ngIf="factures | async; let factures; else loading" >
  <mat-card-header>
    <div mat-card-avatar class="example-header-image">
      <mat-icon matListIcon>receipt</mat-icon>
    </div>      
    <mat-card-title>Factures</mat-card-title>
    <mat-card-subtitle>Liste des Factures du Salon David Lucas Paris</mat-card-subtitle>
		<button mat-fab type="button" color="black" disabled 
      routerLink="./../facturationform">
			<!-- [routerLink]="['./../facturationform', '0']"> -->
			<mat-icon>add</mat-icon>
		</button>
  </mat-card-header>

  <mat-card-content>
  	<br>
    <mat-list dense>
      <mat-list-item *ngFor="let facture of factures">
        <!-- <h4 mat-line [ngClass]="facture.status==2 ? 'facture-done' : 'facture-waiting'"> -->
				<h4 mat-line>        	
        	<span class="facture-title">
        		<span class="info-bill">
              <strong>Fac. n°{{ facture.ref }}</strong> du 
              <strong>{{ facture.date }}</strong> à 
              <strong>{{ facture.starttime }}</strong>              
            </span>
        		<span class="client"> 
              Client :
              <strong>{{ facture.clientfullname }}</strong>
            </span> 
            <span class="montant">
              Montant :
              <strong>{{ facture.totalTTC }} </strong> €
              {{ addToTotal(facture.$key,facture.totalTTC) }}
            </span>
        	</span><br>
        	<span *ngIf="facture.timestamp" class="facture-date">{{ facture.timestamp | date}} | Réglement: <strong>{{ facture.moyendepaiement }}</strong> | Statut : <strong>{{ facture.statut }}</strong></span>
        </h4>
        <!-- facture WAITING -->
				<button mat-icon-button color="warn"
					*ngIf="facture.statut==0"
					(click)="changeFactureStatut(facture)">
		        <mat-icon>hourglass_empty</mat-icon>
		    </button>
        <!-- facture ON GOING -->
				<button mat-icon-button
					*ngIf="facture.statut==1"
					(click)="changeFactureStatut(facture)">
		        <mat-icon>hourglass_full</mat-icon>
		    </button>
        <!-- facture DONE -->		    		    
				<button mat-icon-button
					*ngIf="facture.statut==11">
		        <mat-icon>done</mat-icon>
		    </button>		     
				<button mat-icon-button color="warn"
						(click)="deleteFacture(facture)">
		        <mat-icon>remove_circle</mat-icon>
		    </button>     
      </mat-list-item>
      <mat-list-item>
        <h4 mat-line>         
          <span class="facture-title">
            <span class="info-bill">
            </span>
            <span class="client"> 
            </span>
            <span class="montant total-amount">
              MONTANT TOTAL : <strong>{{ total }} €</strong>
            </span>            
          </span>
        </h4>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>