mat-radio-button {
	margin-right: 10px;
	color: #999
}
button {
	margin-right: 15px;
  margin-left: 10px !important;
}
a, a:focus, a:active {
   outline: 0;
}

mat-card-title {
	font-size: 2em !important;
	line-height: 0.5em;
	font-weight: 300;
}

mat-spinner {
	margin: 0 auto;
}

h3 {
	font-size: 3em;
	color: #FF8500;
	padding: 100px auto;
	font-weight: 300;
	text-align: center;
}

.mb-20px {
	margin-bottom: 40px;
}





.showdate {
	display: inline-block;
  margin-top: 8px;
  vertical-align: top;
  font-size: 1.2em;
}


.facture-title {
	font-size: 1.2em;
	line-height: 0.8em;
}



.totaux {
	padding: 0;
	margin: 0;
  text-align: right;
}

.totaux li {
  margin-right: 1px;
  padding: 8px 20px;
  display: inline-block;
	background: #a3295c; /* Old browsers */
	background: -moz-linear-gradient(top, #a3295c 0%, #8d003b 83%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #a3295c 0%,#8d003b 83%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #a3295c 0%,#8d003b 83%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a3295c', endColorstr='#8d003b',GradientType=0 ); /* IE6-9 */  color: #eee;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-topleft: 10px;
	border-top-right-radius: 5px;
	border-top-left-radius: 10px;
  font-weight: normal;	
}
.totaux li strong {
	color: #FFF;
}


.presta-membres {
	margin: 0; padding: 0;
	margin-bottom: 10px;	
}
.presta-membres li {
	text-transform: uppercase;
	font-size: 0.8em;
	padding: 0 5px;
	color: #999999;
}



.coiffeur-menu {
	padding: 0;
	margin: 0 !important;
}
.coiffeur-menu li {
  margin-right: 5px;
  padding: 10px 20px;
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
	background: #8d003b; /* Old browsers */
	background: -moz-linear-gradient(top, #8d003b 0%, #a3295c 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #8d003b 0%,#a3295c 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #8d003b 0%,#a3295c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8d003b', endColorstr='#a3295c',GradientType=0 ); /* IE6-9 */
  cursor: pointer;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 5px;  
}
.coiffeur-menu li:hover {
	background: #a65600; /* Old browsers */
	background: -moz-linear-gradient(top, #a65600 0%, #ff8500 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #a65600 0%,#ff8500 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #a65600 0%,#ff8500 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a65600', endColorstr='#ff8500',GradientType=0 ); /* IE6-9 */
	color: #FFF;
}

.presta-membres li {
	list-style-type: none;
	display: inline;
}


.mat-list-item {
	border-bottom: 1px dashed #fff;	
}
.mat-list-item:hover {
	/*background-color: #ddd;*/
	border-bottom: 1px dashed #ccc;	
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #eeeeee 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ffffff 0%,#eeeeee 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ffffff 0%,#eeeeee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
}

.facture-waiting {
	color: #000 !important;
}
.facture-done {
	color: #ccc !important;
}

.promo {
	padding: 5px 10px;
	background: #FF6140; /* Old browsers */
	color: #fff;
	font-weight: bold;
  font-size: 12px;
  border-radius: 10px;
  line-height: 10px;
}

.presta-membres strong {
	color: #FFBC73
}

.client, .reglement, .montant {
	display: inline-block;
	border-left: 1px dotted #ccc;
}
.info-bill {
	width: 220px;
	display: inline-block;
}
.client {
	padding-left: 10px;
	width: 300px;
	display: inline-block;
	vertical-align: middle
}
.reglement {
	padding-left: 10px;
	width: 140px;	
}
.montant {
	padding-left: 10px;
	width: 190px;
}

.bill-list {
	padding: 0 0 0 15px;
	border-left: 1px dashed #D9005B;
}


.client mat-icon, .info-bill mat-icon {
	vertical-align: middle;
	cursor: pointer;
	color: #A65600;
}
.client mat-icon:hover, .info-bill mat-icon:hover {
	color: #FF8500
}	







.date-move {
  padding: 10px 0; margin: 20px 0 0;
  background-color: #000;
  color: #eee;
  display: block;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
 	line-height: 0.6em;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-top: 3px solid #eee;	
	background: #8d003b; /* Old browsers */
	background: -moz-linear-gradient(top, #8d003b 0%, #a3295c 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #8d003b 0%,#a3295c 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #8d003b 0%,#a3295c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8d003b', endColorstr='#a3295c',GradientType=0 ); /* IE6-9 */
}


.com-date {
	
}

.date-move mat-icon {
  margin: 0 10px;
  line-height: 0.8em;
  color: #eee;
  font-size: 2em;
  cursor: pointer;
}

.date-move mat-icon:hover {
	color: #fff;	
}


.total-amount {
	width: 100%;
	text-align: center;
	background-color: #000;
	color: #FFF;
	padding: 10px 0;
	font-size: 1.3em;
	font-weight: 300;
	display:inline-block;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom: 3px solid #eee;
	background: #a3295c; /* Old browsers */
	background: -moz-linear-gradient(top, #a3295c 0%, #8d003b 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #a3295c 0%,#8d003b 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #a3295c 0%,#8d003b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a3295c', endColorstr='#8d003b',GradientType=0 ); /* IE6-9 */
}
.total-amount strong {
	font-weight: 900;
}