

<mat-card *ngIf="addPrestation">
	<mat-card-header>
		<div mat-card-avatar class="example-header-image">
			<mat-icon matListIcon>content_cut</mat-icon>
		</div>			
		<mat-card-title>Ajouter une Prestation</mat-card-title>
		<mat-card-subtitle>Ajouter une prestation au Salon</mat-card-subtitle>		
	</mat-card-header>

	<mat-card-content>
	<form #newPrestaForm="ngForm" (ngSubmit)="onSubmit(newPrestaForm)">
		<table>

 			<tr>
				<td colspan="2">
					<mat-form-field class="full-width">
					  <mat-select required placeholder="Salons"
					  	ngModel #selectedSalon="ngModel" name="selectedSalon">
					    <mat-option *ngFor="let salon of salons | async" 
					    	[value]="salon">
					    	{{ salon.title }}
					    </mat-option>
					  </mat-select>
					</mat-form-field>
				</td>
			</tr>
			<!--
				<td>					
					<mat-form-field>
						<input matInput maxlength="2" placeholder="Acronyme" 
							required
							ngModel #newPrestaAcronyme name="newPrestaAcronyme">
	    			<mat-hint align="end">{{newPrestaAcronyme.value.length}} / 2</mat-hint>
					</mat-form-field>
				</td>
			</tr> 
			-->
			<tr>
				<td colspan="2">
					<mat-form-field class="full-width">
						<input matInput placeholder="Title" 
							required
							ngModel #newPrestaTitle="ngModel"
							name="newPrestaTitle">
					</mat-form-field>					
				</td>
				<!--
 				<td>
					<mat-form-field>
						<input matInput placeholder="Details" 
							required
							ngModel #newPrestaDetail="ngModel"
							name="newPrestaDetail">
					</mat-form-field>					
				</td> 
				-->
			</tr>
			<tr>
				<td>
					<mat-form-field>
						<input matInput placeholder="Prix Équipe" type="number"
							required 
							ngModel #newPrestaPrix="ngModel"
							name="newPrestaPrix">
						<mat-icon matSuffix>euro_symbol</mat-icon>							
					</mat-form-field>
				</td>
				<td>
					<mat-form-field>
						<input matInput placeholder="Prix David" type="number"
							ngModel #newPrestaPrixDavid="ngModel"
							name="newPrestaPrixDavid">
						<mat-icon matSuffix>euro_symbol</mat-icon>
					</mat-form-field>					
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<mat-form-field class="field-types">
					  <mat-select ngModel required 
					  	#selectedTypes="ngModel" name="selectedTypes" placeholder="Types de prestations" multiple>
					    <mat-option *ngFor="let prestatype of prestatypes | async" [value]="prestatype">{{prestatype.title}}</mat-option>
					  </mat-select>
					</mat-form-field>					
				</td>
			</tr>				
			<tr>
				<td colspan="2">
					<br>
					<mat-radio-group required 
						ngModel #selectedTime="ngModel" name="selectedTime">
					  <mat-radio-button *ngFor="let time of times" [value]="time">
					  	{{ time }} minutes
					  </mat-radio-button>
					</mat-radio-group>
				</td>
			</tr>
		</table>

		<br><br>

		<!-- 		
		<mat-accordion>
		  <mat-expansion-panel (opened)="panelOpenState = true"
		                       (closed)="panelOpenState = false">
		    <mat-expansion-panel-header>
		      <mat-panel-title>
		        Séquençage
		      </mat-panel-title>
		      <mat-panel-description>
		        Préciser le séquençage de la prestation
		      </mat-panel-description>
		    </mat-expansion-panel-header>

				<mat-grid-list class="sequence" cols="4" rowHeight="2:1">
				  <mat-grid-tile>1</mat-grid-tile>
				  <mat-grid-tile>2</mat-grid-tile>
				  <mat-grid-tile>3</mat-grid-tile>
				  <mat-grid-tile>4</mat-grid-tile>
				</mat-grid-list>

		  </mat-expansion-panel>
		</mat-accordion>

			<br><br> 
		-->


<!-- 		<mat-accordion>
		  <mat-expansion-panel (opened)="panelOpenState = true"
		                       (closed)="panelOpenState = false">
		    <mat-expansion-panel-header>
		      <mat-panel-title>
		        Catégories
		      </mat-panel-title>
		      <mat-panel-description>
		        Préciser les catégories de la prestation
		      </mat-panel-description>
		    </mat-expansion-panel-header>

				<mat-form-field class="field-types">
				  <mat-select ngModel required 
				  	#selectedTypes="ngModel" name="selectedTypes" placeholder="Types de prestations" multiple>
				    <mat-option *ngFor="let prestatype of prestatypes | async" [value]="prestatype">{{prestatype.title}}</mat-option>
				  </mat-select>
				</mat-form-field>

		  </mat-expansion-panel>
		</mat-accordion> -->



<!-- 		<mat-chip-list ngModel #selectedTypes="ngModel" name="selectedTypes"
			selectable="false" 
			*ngIf="prestatypes | async; let prestatypes" [multiple]="true">
			<mat-chip *ngFor="let prestatype of prestatypes"
				[selectable]="true"
				[value]="prestatype"
				[color]="prestatype.color"
				(click)="selectPrestaType(prestatype)">
				{{ prestatype.title }}
			</mat-chip>
		</mat-chip-list>			
 -->



		<br>
		<button mat-fab (click)="goBack()" type="button" color="black">
			<mat-icon>keyboard_arrow_left</mat-icon>
		</button>
		<button mat-fab type="submit" color="accent"
			[disabled]="!newPrestaForm.form.valid">
			<mat-icon>save</mat-icon>
		</button>			
	</form>
	</mat-card-content>
</mat-card>

<mat-card>

<!-- <pre>{{ services | async | json }}</pre> -->

</mat-card>
