mat-card-title {
	font-size: 1.2em !important;
	line-height: 0.5em;
	font-weight: 300;
}

.ta-r {
	text-align: right;
}

textarea {
   /*border: 1px dotted #FFF;*/
   padding: 5px 0;
   color: #333;
   font-size: 0.9em;
  border-bottom: 1px solid #7F7F7F;      
}

.fiche-technique-label {
	color: #999999;
}

.keystyle {
	color: #ccc;
	font-size: 12px;
	font-weight: 200;
	text-transform: uppercase;
}




.bill-history li {
	list-style-type: none;
}
.rdv, .regl,.encaiss, .px{
	border-left: 1px dotted #ccc;
	padding: 0 10px;
	display: inline-block;
	text-transform: uppercase;
}

.rdv{
	width: 200px;
}
.regl{
	width: 120px;
}
.encaiss{
	width: 220px;
}
.px{

}