table th {
	text-align: left;
}

mat-grid-tile {
  background: red;
}

mat-card-title {
	font-size: 1.2em !important;
	/*text-transform: uppercase;*/
	font-weight: 300;
	line-height: 0.5em;	
}

.selected {
  background-color: #CFD8DC !important;
  color: white;
}
.mailphone {
	margin-right: 10px;

}
.mailphone a {
	text-decoration: none;
	background-color: #B3B3B3;
	color: #eee;
	padding: 2px 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.mailphone a:hover {
	background-color: #000;
	color: #fff;
}

button {
  margin-left: 10px !important;
}

.edit-client-form {
  min-width: 150px;
  /*max-width: 500px;*/
  width: 100%;
}

.edit-client-full-width {
  width: 100%;
}

.key-class {
	font-size: 0.6em;
	color: #ccc;
}
.spinner-td {
	text-align: center;
	margin-top: 50px;
}
mat-spinner {
	margin: 0 auto;
}
