<!-- <pre>{{ cart | async | json }}</pre> -->



<!-- <mat-card> -->
<mat-card *ngIf="cart | async as cart" class="br-20">

	<h1>Shopping Time</h1>
	<p class="cartkey">{{ cart.$key }}</p>

	<div class="content" 
	 fxLayout="row" 
	 fxLayout.xs="column" 
	 fxLayoutAlign="end start"
	 fxLayoutGap="10px"
	 fxFlexFill
		>
		<div class="sec1"
		fxFlex="50"
	 	fxLayout="row" 	
		fxLayoutWrap
		fxLayout.xs="column">

			<div
			fxFlex="100">
				<h2>Fill you cart with</h2>
			</div>

			<div
			fxFlex="80">
				<h3>Prestations</h3>
			</div>
			<div
			fxFlex="20"
			fxLayoutAlign="end center">
				<button mat-mini-fab color="black"
					(click)="
						showAddPrestaSection=true;
						showRemovePrestaSectionButton=true;
						showAddPrestaSectionButton=false"
						*ngIf="showAddPrestaSectionButton">
					<mat-icon>add</mat-icon>
				</button>
				<button mat-mini-fab color="black"
					(click)="
						showAddPrestaSection=false;
						showRemovePrestaSectionButton=false;
						showAddPrestaSectionButton=true"
					*ngIf="showRemovePrestaSectionButton">
					<mat-icon>remove</mat-icon>
				</button>			
			</div>

			<div
			fxFlex="100"
			*ngIf="showAddPrestaSection">

				<mat-chip-list class="menu-addcart">
					<mat-chip class="br3" *ngFor="let type of types | async" 
					    (click)="typeSelected(type)" >
					   {{ type.title }}
				        </mat-chip>	
				</mat-chip-list>

				<br>

				<ng-template #loading><br><br><mat-spinner color="warn"></mat-spinner><br><br></ng-template>		
	      <mat-chip-list *ngIf="prestations | async; let prestations; else loading">
					<mat-chip class="br3"
						*ngFor="let prestation of prestations | filter : filtre"
						(click)="insertInOldCart('prestation',cart,prestation)">
						{{ prestation.title }}
						(<strong>{{ prestation.time }} min / {{ prestation.priceTeam }} €</strong>)
					</mat-chip>
	      </mat-chip-list>		    
			</div>

			<div
			fxFlex="80">
				<h3>Forfaits</h3>
			</div>

			<div
			fxFlex="20"
			fxLayoutAlign="end center">
				<button mat-mini-fab color="black"
					(click)="
						showAddForfaitSection=true;
						showRemoveForfaitSectionButton=true;
						showAddForfaitSectionButton=false"
						*ngIf="showAddForfaitSectionButton">
					<mat-icon>add</mat-icon>
				</button>
				<button mat-mini-fab color="black"
					(click)="
						showAddForfaitSection=false;
						showRemoveForfaitSectionButton=false;
						showAddForfaitSectionButton=true"
					*ngIf="showRemoveForfaitSectionButton">
					<mat-icon>remove</mat-icon>
				</button>			
			</div>

			<div
			fxFlex="100" 
			*ngIf="showAddForfaitSection">

				<mat-chip-list class="menu-addcart">
					<mat-chip class="br3" *ngFor="let type of forfaitTypes | async" 
						(click)="typeSelectedForfait(type)" >
						{{ type.title }}
				       </mat-chip>	
				</mat-chip-list>			

				<br>

				<ng-template #loading><br><br><mat-spinner color="warn"></mat-spinner><br><br></ng-template>		
	      <mat-chip-list *ngIf="forfaits | async; let forfaits; else loading">
	        <mat-chip class="br3"
						*ngFor="let forfait of forfaits | filterforfait : filtreForfait"
						(click)="insertInOldCart('forfait',cart,forfait)">
	          {{ forfait.title }} 
		        <strong *ngIf="forfait.price&&forfait.time">({{ forfait.time }} min / {{ forfait.price }} €)</strong>
						<!-- <mat-icon (click)="formatBeforeInsert('forfait',forfait)" matChipRemove>add_circle</mat-icon>-->
	        </mat-chip>
	      </mat-chip-list>		    
			</div>

			<div
			fxFlex="80">
				<h3>Produits</h3>
			</div>

			<div
			fxFlex="20"
			fxLayoutAlign="end center">
				<button mat-mini-fab color="black"
					(click)="
						showAddProductSection=true;
						showRemoveProductSectionButton=true;
						showAddProductSectionButton=false"
						*ngIf="showAddProductSectionButton">
					<mat-icon>add</mat-icon>
				</button>
				<button mat-mini-fab color="black"
					(click)="
						showAddProductSection=false;
						showRemoveProductSectionButton=false;
						showAddProductSectionButton=true"
					*ngIf="showRemoveProductSectionButton">
					<mat-icon>remove</mat-icon>
				</button>
			</div>

			<div
			fxFlex="100" 
			*ngIf="showAddProductSection">

				<mat-chip-list class="menu-addcart">
					<mat-chip class="br3" *ngFor="let brand of Brands" 
					  (click)="typeSelectedProduct(brand)"
					>
					{{ brand.title }}
					</mat-chip>	
				</mat-chip-list>

				<br>

				<ng-template #loading><br><br><mat-spinner color="warn"></mat-spinner><br><br></ng-template>		
	      <mat-chip-list *ngIf="products | async; let products; else loading">
	        <mat-chip class="br3"
						*ngFor="let product of products | filterproduct : filtreproduct"
	        	(click)="addProductToCart(product,cart)">
	          {{ product.brand }} {{ product.title }} &nbsp;
		        <strong>({{ product.pxUTTC }} €)</strong>
	        </mat-chip>
	      </mat-chip-list>		    
			</div>
	  </div>
	  <div class="sec2 contacts"
	  	fxFlex="50"
	  	fxLayout="row"
			fxLayoutWrap
			fxLayout.xs="column"
	  	>

			<div
			fxFlex="100">
				<h2>Cart content</h2>

				<p class="client">
					Rendez vous du <strong>{{ cart.date }}</strong> à <strong>{{ cart.cartstarttime }}</strong><br>
					<strong>{{ cart.clientfullname }}</strong><br>
					<span class="smaller">{{ cart.clientphone }} <br>
					{{ cart.clientemail }}</span>
				</p>
			</div>

			<div
			fxFlex="100"
			fxLayoutAlign="center center">
				<table class="full-width">
					<tr class="table-header dark-cell br-top">
						<td class="td-a-l">Description</td>
						<td width="100px" class="td-a-l">Coiffeur</td>
						<td width="50px" class="td-a-l">Qte</td>
						<td width="60px" class="td-a-c">Price TTC</td>
						<td width="40px"></td>
					</tr>

					<tr class="items-info" *ngFor="let prestation of cart.prestas">
						<td><strong>{{ prestation.prestationtitle }}</strong></td>
						<td><strong>
								<mat-select 
								placeholder="{{ prestation.membername }}"
								[(ngModel)]="member"
								(ngModelChange)="changeCoiffeur(prestation,member,cart,'prestation')">
									  <mat-option *ngFor="let member of members | async" [value]="member">
										{{ member.firstname }}
									  </mat-option>
							  </mat-select>
						</strong></td>
						<td>{{ prestation.quantity }}</td>
						<td class="td-a-c">{{ +prestation.price }} €</td>
						<td class="td-a-c" *ngIf="!prestation.fromcalendar"> 
							<mat-icon class="cursor-pointer" (click)="deletePresta(prestation,cart)">clear</mat-icon>
						</td>
					</tr>
					<tr class="items-info" *ngFor="let pdct of cart.pdcts">
						<td><strong>{{ pdct.brand }}</strong> {{ pdct.title }}</td>
						<td><strong>
							<mat-select 
							placeholder="{{ pdct.membername }}"
							[(ngModel)]="member"
							(ngModelChange)="changeCoiffeur(pdct,member,cart,'product')"	
							>
							  <mat-option *ngFor="let member of members | async" [value]="member">
								{{ member.firstname }}
							  </mat-option>
						  </mat-select>
					</strong></td>
						<td>{{ pdct.quantity }}</td>
						<td class="td-a-c">{{ pdct.price }} Ä</td>
						<td class="td-a-c">
							<mat-icon class="cursor-pointer" (click)="deleteProduct(pdct,cart)">clear</mat-icon>
						</td>
					</tr>
					<tr class="table-footer">
						<td></td>
						<td></td>
						<td class="td-a-r">TOTAL HT</td>
						<td class="td-a-c dark-cell">{{ cart.totalHT }} €</td>
						<td></td>
					</tr>
					<tr class="table-footer">
						<td></td>
						<td></td>
						<td class="td-a-r">TAX 20%</td>
						<td class="td-a-c dark-cell">{{ cart.totalTAX }} €</td>
						<td></td>
					</tr>
					<tr class="table-footer br-bot">
						<td></td>
						<td></td>
						<td class="td-a-r">TOTAL TTC</td>
						<td class="td-a-c dark-cell">{{ cart.totalTTC }} €</td>
						<td></td>
					</tr>				
				</table>
			</div>

			<div class="pt-20 bt-white"
			fxFlex="100"
			fxLayoutAlign="end end">
				<button mat-fab color="warn" matTooltip="Delete Cart" matTooltipPosition="after" disabled 
					(click)="deleteCart(cart)"><mat-icon>delete_forever</mat-icon>
				</button>
				<button mat-fab color="warn" matTooltip="Pay" matTooltipPosition="after" 
					(click)="goToBill(cart)"><mat-icon>payment</mat-icon>
				</button>	
			</div>		
	  </div>
	</div>    

</mat-card>								   