<mat-card *ngIf="addForfait">

  <mat-card-header>
    <div mat-card-avatar class="example-header-image">
      <mat-icon matListIcon>content_cut</mat-icon>
    </div>
    <mat-card-title>Forfaits</mat-card-title>
    <mat-card-subtitle>Créer un nouveau forfait</mat-card-subtitle>   
  </mat-card-header>

  <form #newForfaitForm="ngForm" (ngSubmit)="onSubmit(newForfaitForm)">
                                  
  <mat-card-content>

    <div class="full-width">

      <mat-form-field>
        <input matInput placeholder="Title"  class="full-width"
          required
          ngModel #newForfaitTitle="ngModel"
          name="newForfaitTitle">
      </mat-form-field>

    </div>

    <h5>Sélectionner une série de prestations</h5>		

    <mat-radio-group required class="pb-10"
    ngModel name="pickedNumberPrestation">
      <mat-radio-button class="radio-role bottom pr-10"
        *ngFor="let nombre of nombrePrestations" 
        (change)=activateInstrument(nombre.key)
        [value]="nombre">
        {{nombre.title}}
      </mat-radio-button>
    </mat-radio-group>

<!-- --------------------------- -->
<!--  Show Prestation Select *2  -->
<!-- --------------------------- -->

    <div *ngIf="showPrestaList1" class="full-width">

      <mat-form-field>
        <span matPrefix class="buble">1</span>        
        <mat-select ngModel required 
          #selectedPrestation1="ngModel" name="selectedPrestation1" placeholder="Choisir la premiere prestation">
          <mat-option *ngFor="let prestation of prestations | async" [value]="prestation">
            <strong>{{ prestation.time }} min</strong> -
          	{{ prestation.title }} : {{ prestation.priceTeam }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <span matPrefix class="buble">2</span>        
        <mat-select ngModel required 
          #selectedPrestation2="ngModel" name="selectedPrestation2" placeholder="Choisir la seconde prestation">
          <mat-option *ngFor="let prestation of prestations | async" [value]="prestation">
          	<strong>{{ prestation.time }} min</strong> -
          	{{ prestation.title }} : {{ prestation.priceTeam }}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>

<!-- --------------------------- -->
<!--  Show Prestation Select *3  -->
<!-- --------------------------- -->

    <div *ngIf="showPrestaList2" class="full-width">

      <mat-form-field>
        <span matPrefix class="buble">1</span>                
        <mat-select ngModel required 
          #selectedPrestation1="ngModel" name="selectedPrestation1" placeholder="Choisir la premiere prestation">
          <mat-option *ngFor="let prestation of prestations | async" [value]="prestation">
          	<strong>{{ prestation.time }} min</strong> -
          	{{ prestation.title }} : {{ prestation.priceTeam }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <span matPrefix class="buble">2</span>                
        <mat-select ngModel required 
          #selectedPrestation2="ngModel" name="selectedPrestation2" placeholder="Choisir la seconde prestation">
          <mat-option *ngFor="let prestation of prestations | async" [value]="prestation">
          	<strong>{{ prestation.time }} min</strong> -
          	{{ prestation.title }} : {{ prestation.priceTeam }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <span matPrefix class="buble">3</span>                
        <mat-select ngModel required 
          #selectedPrestation3="ngModel" name="selectedPrestation3" placeholder="Choisir la troisieme prestation">
          <mat-option *ngFor="let prestation of prestations | async" [value]="prestation">
          	<strong>{{ prestation.time }} min</strong> -
          	{{ prestation.title }} : {{ prestation.priceTeam }}
          </mat-option>
        </mat-select>
      </mat-form-field> 

    </div>


<!-- --------------------------- -->
<!--  Show Prestation Select *4  -->
<!-- --------------------------- -->

    <div *ngIf="showPrestaList3" class="full-width">

      <mat-form-field>
        <span matPrefix class="buble">1</span>                        
        <mat-select ngModel required 
          #selectedPrestation1="ngModel" name="selectedPrestation1" placeholder="Choisir la premiere prestation">
          <mat-option *ngFor="let prestation of prestations | async" [value]="prestation">
          	<strong>{{ prestation.time }} min</strong> -
          	{{ prestation.title }} : {{ prestation.priceTeam }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <span matPrefix class="buble">2</span>                
        <mat-select ngModel required 
          #selectedPrestation2="ngModel" name="selectedPrestation2" placeholder="Choisir la seconde prestation">
          <mat-option *ngFor="let prestation of prestations | async" [value]="prestation">
          	<strong>{{ prestation.time }} min</strong> -
          	{{ prestation.title }} : {{ prestation.priceTeam }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <span matPrefix class="buble">3</span>                
        <mat-select ngModel required 
          #selectedPrestation3="ngModel" name="selectedPrestation3" placeholder="Choisir la troisieme prestation">
          <mat-option *ngFor="let prestation of prestations | async" [value]="prestation">
          	<strong>{{ prestation.time }} min</strong> -
          	{{ prestation.title }} : {{ prestation.priceTeam }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <span matPrefix class="buble">4</span>                
        <mat-select ngModel required 
          #selectedPrestation3="ngModel" name="selectedPrestation4" placeholder="Choisir la quatrieme prestation">
          <mat-option *ngFor="let prestation of prestations | async" [value]="prestation">
        	<strong>{{ prestation.time }} min</strong> -
        	{{ prestation.title }} : {{ prestation.priceTeam }}
        </mat-option>
        </mat-select>
      </mat-form-field>


    </div>

<!-- --------------------------- -->
<!--  Show Prestation Select *5  -->
<!-- --------------------------- -->


    <div *ngIf="showPrestaList4" class="full-width">

      <mat-form-field>
        <span matPrefix class="buble">1</span>                
        <mat-select ngModel required 
          #selectedPrestation1="ngModel" name="selectedPrestation1" placeholder="Choisir la premiere prestation">
          <mat-option *ngFor="let prestation of prestations | async" [value]="prestation">
          	<strong>{{ prestation.time }} min</strong> -
          	{{ prestation.title }} : {{ prestation.priceTeam }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <span matPrefix class="buble">2</span>                
        <mat-select ngModel required 
          #selectedPrestation2="ngModel" name="selectedPrestation2" placeholder="Choisir la seconde prestation">
          <mat-option *ngFor="let prestation of prestations | async" [value]="prestation">
          	<strong>{{ prestation.time }} min</strong> -
          	{{ prestation.title }} : {{ prestation.priceTeam }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <span matPrefix class="buble">3</span>                
        <mat-select ngModel required 
          #selectedPrestation3="ngModel" name="selectedPrestation3" placeholder="Choisir la troisieme prestation">
          <mat-option *ngFor="let prestation of prestations | async" [value]="prestation">
          	<strong>{{ prestation.time }} min</strong> -
          	{{ prestation.title }} : {{ prestation.priceTeam }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <span matPrefix class="buble">4</span>                
        <mat-select ngModel required 
          #selectedPrestation3="ngModel" name="selectedPrestation4" placeholder="Choisir la quatrieme prestation">
          <mat-option *ngFor="let prestation of prestations | async" [value]="prestation">
          	<strong>{{ prestation.time }} min</strong> -
          	{{ prestation.title }} : {{ prestation.priceTeam }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <span matPrefix class="buble">5</span>                
        <mat-select ngModel required 
          #selectedPrestation3="ngModel" name="selectedPrestation5" placeholder="Choisir la cinquieme prestation">
        <mat-option *ngFor="let prestation of prestations | async" [value]="prestation">
        	<strong>{{ prestation.time }} min</strong> -
        	{{ prestation.title }} : {{ prestation.priceTeam }}
        </mat-option>
        </mat-select>   
      </mat-form-field>

    </div>



  </mat-card-content>

  <button mat-fab (click)="goBack()" type="button" color="black">
      <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
  <button mat-fab type="submit" color="warn"
    [disabled]="!newForfaitForm.form.valid">
      <mat-icon>save</mat-icon>
  </button>

  </form>


</mat-card> 