/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


* {
	font-family: 'Heebo', sans-serif;
	outline: none;
}

td:focus, td:active {
		outline: none;
}

.full-width {
	width: 100%;
}

.mw-900 {
	max-width: 900px;
}