/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


* {
	font-family: 'Heebo', sans-serif;
	outline: none;
}

td:focus, td:active {
		outline: none;
}

.full-width {
	width: 100%;
}

.half-width {
	width: 40%;
}

.mw-900 {
	max-width: 900px;
}

mat-spinner {
	margin: 0 auto;
}


mat-card-header button {
  margin-left: 10px !important;
}

mat-card-title {
	font-size: 1.2em !important;
	line-height: 0.5em;
	font-weight: 300;
}

.buble-16 {
  background-color: #000;
  color: #fff;
  font-weight: bold;
  width: 16px;
  height: 16px;
  line-height: 16px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;  
  text-align: center;
  display: block;
  margin-right: 10px;
  font-size: 0.7em;
}

.br-bot {
  -webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
}

.br-tl {
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-left-radius: 10px;
}

cdk-overlay-pane {
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-left-radius: 10px;  
}

.br-tr {
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  border-top-right-radius: 10px;
}
.cur-point {
  cursor: pointer;
}



.br-20 {
  -webkit-border-radius: 20px !important;
  -moz-border-radius: 20px !important;
  border-radius: 20px !important;
}

