/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


* {
	font-family: 'Heebo', sans-serif;
	outline: none;
}

td:focus, td:active {
		outline: none;
}

.full-width {
	width: 100%;
}

.half-width {
	width: 40%;
}

.mw-900 {
	max-width: 900px;
}

mat-spinner {
	margin: 0 auto;
}


mat-card-header button {
  margin-left: 10px !important;
}

mat-card-title {
	font-size: 1.2em !important;
	line-height: 0.5em;
	font-weight: 300;
}